<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Library Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>

<body>

<div class="login-container">

    <div class="login-box">

        <h1>📚</h1>

        <h2>School Library</h2>

        <h3>Management System</h3>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="error">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <form action="/login" method="POST">

            <input
                type="text"
                name="librarian_id"
                placeholder="Librarian ID"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button type="submit">

                Login

            </button>

        </form>

    </div>

</div>

</body>

</html>